<div class="container">
	<div class="row">
		<h1>Edit <%= @edamater.name %>'s Profile</h1>
		<%= form_tag("/edamaters/#{@edamater.id}", method: 'patch', class: 'edamater-form') do  %>

			<div class="form-group">
			<%= label_tag :name, @edamater.name %>
			<%= text_field_tag :name, @edamater.name, autofocus: true, class: 'form-control' %>
			</div>

			<div class="form-group">
			<%= label_tag :image, "Image URL" %>
			<%= text_field_tag :image, @edamater.image, class: 'form-control' %>
			</div>

			<div class="form-group">
			<%= label_tag :price, "Session Price" %>
			<%= number_field_tag :price, @edamater.price.to_i, class: 'form-control' %>
			</div>

			<div class="form-group">
			<%= label_tag :description, "Profile Bio" %>
			<%= text_area_tag :description, @edamater.description,
								rows: 5, class: 'form-control' %>
			</div>

			<%= submit_tag "Update Profile", class: 'btn btn-success btn-lg'%>
			or
			<%= link_to "Cancel", "/edamaters" %>

		<% end %>
	</div>
</div>