<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">Edamate</p>
			<div class="list-group">
				<li class="list-group-item active">Profile</li>
				<li class="list-group-item">Reviews</li>
				<li class="list-group-item">Credentials</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src="<%= @edamater.image %>">
				<div class="caption-full">
					<h4 class="pull-right">$<%= @edamater.price %>/session</h4>
					<h4><a><%= @edamater.name %></a></h4>
					<p><%= @edamater.description %></p>
					<!-- only show Edit and Delete buttons if user is logged in  -->
					<!-- @current_user is from session as global var  -->
					<% if Edamater.where(:user_id => @current_user.id).present? %>
						<%= button_to "Edit EdaMate Profile", "/edamaters/#{@edamater.id}/edit"%>
						<%= button_to "Delete EdaMate Profile", "/edamaters/#{@edamater.id}", method: 'delete', data: { confirm: "Are you sure you want to delete your profile?" } %>
					<% end %>
				</div>
			</div>
			<div class="well">
				<div class="text-left">
					<% if !@edamater.reviews.present? %>
						<p>This EdaMater has not been reviewed yet. Be the first one!</p>
					<% end %>
					<a class="btn btn-success" href="/edamaters/<%= @edamater.id %>/reviews/new">Post a Review!</a>
				</div>
				<hr>
				<% @edamater.reviews.each do |review| %>
					<div class="row">
						<div class="col-md-12">
							<strong><%= review.user.username %></strong>
							<span class="pull-right"><%= review.updated_at %></span>
							<p>
								<%= review.text %>
							</p>
							<% if Review.where(:user_id => @current_user.id).present? %>
								<%= button_to "Edit Review", "/edamaters/#{@edamater.id}/reviews/#{review.id}/edit"%>
								<%= button_to "Delete Review", "/edamaters/#{@edamater.id}/reviews/#{review.id}", method: 'delete', data: { confirm: "Are you sure you want to delete your review?" } %>
							<% end %>
						</div>
					</div>				  
				<% end %> 
			</div>
		</div>
	</div>
</div> 