<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">Edamate</p>
			<div class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src="<%= @edamater.image %>">
				<div class="caption-full">
					<h4 class="pull-right">$<%= @edamater.price %>/session</h4>
					<h4><a><%= @edamater.name %></a></h4>
					<p><%= @edamater.description %></p>
					<!-- only show Edit and Delete buttons if user is logged in  -->
					<!-- @current_user is from session as global var  -->
					<% if Edamater.where(:user_id => @current_user.id).present? %>
						<%= button_to "Edit EdaMate Profile", "/edamaters/#{@edamater.id}/edit"%>
						<%= button_to "Delete EdaMate Profile", "/edamaters/#{@edamater.id}", method: 'delete', data: { confirm: "Are you sure you want to delete your profile?" } %>
					<% end %>
				</div>
			</div>

			<div class="well">
				<div class="text-right">
					<a class="btn btn-success" href="/edamaters/<%= @edamater.id %>/comments/new">Post a Review!</a>
				</div>
				<hr>
				
			</div>
		</div>
	</div>
</div> 