<div class="container">
	<div class="row">
		<h1>Edit Review for <%= @edamater.name %></h1>
		<%= form_tag("/edamaters/#{@edamater.id}/reviews/#{@review.id}", method: 'patch', class: 'edamater-form') do  %>
            <p>
                <%= label_tag :rating_logistics, "Did the EdaMater show up on time? Was s/he prepared?"%>
                <%= select_tag :rating_logistics, options_for_select([1,2,3,4,5]), prompt: "Stars", class: '' %>
            </p>
            <p>
                <%= label_tag :rating_clarity, "How clear and concise was the content?"%>
                <%= select_tag :rating_clarity, options_for_select([1,2,3,4,5]), prompt: "Stars", class: '' %>
            </p>
            <p>
                <%= label_tag :rating_structure, "How appropriate was the lesson and course structure?"%>
                <%= select_tag :rating_structure, options_for_select([1,2,3,4,5]), prompt: "Stars", class: '' %>
            </p>
            <p>
                <%= label_tag :rating_value, "Was the session worth the price?"%>
                <%= select_tag :rating_value, options_for_select([1,2,3,4,5]), prompt: "Stars", class: '' %>
            </p>
            <p>
                <%= label_tag :text, "Review "  %>
                <%= text_area_tag :text, @review.text,
                                    rows: 7, class: 'form-control' %>
            </p>

			<%= submit_tag "Update Review", class: 'btn btn-success btn-lg'%>
			or
			<%= link_to "Cancel", "/edamaters/#{@edamater.id}" %>

		<% end %>
	</div>
</div>