<div class="container">
    <div class="row">
        <h1>Write a new review for <%= @edamater.name %></h1>
        <%= form_tag("/edamaters/#{@edamater.id}/reviews", method: 'post', class: 'edamater-form') do  %>
            <div class="form-group">
            <p>
                <%= label_tag :rating, "How many stars out of 5?"%>
                <%= select_tag :rating, options_for_select([1,2,3,4,5]), prompt: "Stars", class: '' %>
            </p>
            <p>
                <%= label_tag :text, "Review "  %>
                <%= text_area_tag :text, "",
                                    rows: 7, class: 'form-control' %>
            </p>
            </div>

            <%= submit_tag "Submit Review!", class: 'btn btn-success btn-lg'%>
            or
            <%= link_to "Back to EdaMate profiles", "/edamaters" %>
        <% end %>
    </div>

</div>